<ngb-carousel>
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img class="image" [src]="image" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="description-container">
  <div class="text-container">
    <span class="portafolio-text">PORTAFOLIO</span>
    <span class="fotografico-text">FOTOGRÁFICO.</span>
  </div>
  <div class="description">
    <span >Fabricamos recuerdos capturando los mejores  momentos de sus eventos más especiales. Tenemos mas de 12 años de experiencia. Nos apasiona contar una historia en recuerdos fotográficos para toda la vida.</span>
  </div>
</div>
