.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  margin: auto 2rem;
  &__elements {
    margin: 1rem;
  }
}

.photos-container {
  display: flex;
  justify-content: space-evenly;
  &__photo {
    height: 17rem;
    padding: 1rem 0;
  }
}

@media (max-width: 767.98px) {
  .photos-container {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}
