<div class="body-header">
  <div class="logo"><img src="../../../../../assets/LOGOMENDINUETA.png"></div>
  <div class="nav-menu">
    <a href="/">Inicio</a>
    <div class="dropdown">
      <a>Servicios</a>
      <div class="dropdown-content">
        <a href="/marketing">Marketing</a>
        <a href="/social-media">Social Media</a>
        <a href="/desarrollo-web">Desarrollo web</a>
        <a href="/diseño-de-marca">Diseño de Marca</a>
      </div>
    </div>
    <a href="http://drive.google.com/uc?export=view&id=1TpCVm9e69WYRNVaQvWYJZ1O0ak9NCMNR" target="_blank">Portafolio</a>
    <a href="/contacto">Contacto</a>
  </div>
</div>
