<section class="text">
  <span class="title">¡Hola! Somos Mendinueta Co especialistas en mercadeo y producción audio visual.</span>
  <span class="description">Sabemos lo importante que es mantener una presencia digital integral,
    actualizada y cercana con sus clientes o usuarios, por esta razón nos gustaría presentarles
    una propuesta donde trabajando de la mano de nuestra empresa encontrarán todo un equipo capaz de crear,
    pensar, plantear y ejecutar ideas de contenido práctico e interesante para tu audiencia, vendiendo una
    identidad visual totalmente atractiva generando confianza, credibilidad y reconocimiento en su público.
    Nuestro acompañamiento va de la mano de las necesidades que tengas y como desde nuestro campo podemos
    trabajar para suplirlas, estamos convencidos de que podemos hacer un gran equipo de trabajo y que podemos
    lograr cosas extraordinarias.</span>
</section>
