.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  line-height: 3rem;
  margin: 5% 3% 1%;
}

.description {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 3% 1%;
  text-align: justify;
}

@media (max-width: 767.98px) {
  .description, .title {
    text-align: left;
  }
}
