app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.roulette {
  background: rgb(60, 60, 60);
  color: white;
  padding-bottom: 20%;
}

app-header + .content {
  padding-top: 102px;
}
