
<section id="sect1" class="sect">
  <video src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
  <app-header></app-header>
  <h1>CENTRO CREATIVO <br> EMPRESARIAL</h1>
</section>
<section class="text">
  <h2>lorem description of the company Mendinueta </h2>
  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus eu vehicula enim, nec hendrerit mi. Quisque non dolor feugiat, dictum risus eu, sodales ex.
    Aenean fermentum, dolor eget vulputate pretium, mi mauris rhoncus dui, et eleifend sapien arcu vel dolor.
    Nam vestibulum posuere mauris, id aliquet magna elementum at.
    Ut nec felis porttitor purus vestibulum porta vel vitae justo.
    Maecenas consectetur odio est, sit amet placerat urna dignissim eget.
    Pellentesque maximus dui sed porttitor mollis. Vestibulum finibus eleifend bibendum.
    Fusce dignissim elementum laoreet. Aliquam finibus id ex in sollicitudin.</h4>
</section>
<section>
  <h1>Servicios</h1>
  <div class="services-container">

  </div>
</section>
<section>
  <h1>Clients</h1>
</section>
<app-form></app-form>
<app-footer></app-footer>
