<app-header></app-header>
<div class="photos-container">
  <img src="https://static.wixstatic.com/media/1c35ce_6bd525bf18fa4fd5beffb7f160fdf851~mv2.jpg/v1/fill/w_536,h_470,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1c35ce_6bd525bf18fa4fd5beffb7f160fdf851~mv2.jpg">
  <img src="https://static.wixstatic.com/media/1c35ce_40997521a3064cca823e2a7a8bad6fe7~mv2.jpg/v1/fill/w_533,h_470,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1c35ce_40997521a3064cca823e2a7a8bad6fe7~mv2.jpg">
</div>
<section class="grid-wedding">
  <app-grid [urls]="urlsInput"></app-grid>
</section>
<app-footer></app-footer>
