.photos-container {
  background: #b2b2b2;
  display: flex;
  padding: 2rem;
  justify-content: center;
}

.photos-container img {
  padding: 0 1.5rem;
}

.grid-wedding {
  background: #b2b2b2;
  padding: 1% 0;
}

@media (max-width: 767.98px) {
  .photos-container {
    flex-direction: column;
  }
  .photos-container img {
    padding: 2% 0;
  }
}

