.container-global, .section-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.container-global {
  flex-direction: column;
}

.text-container {
  padding-top: 5%;
  width: 65%;
}

.services, .text {
  font-family: Raleway, sans-serift;
}

.text {
  display: block;
  line-height: 30px;
  padding: 5% 0;
}

.services {
  font-size: 3rem;
  margin-bottom: 5%;
}



.cardsSection {
  align-content: center;
  background-color: rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  padding: 5% 0;
  width: 95%;
}

.card-div {
  background-color: white;
  height: 550px;
  margin: 0 2%;
  width: 25%;
}

@media (max-width: 767.98px) {
  .cardsSection {
    align-items: center;
    flex-direction: column;
  }

  .card-div {
    margin: 2% 0;
    width: 80%;
  }
}

