.body-footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__links {
    text-decoration: none;
    color: black;
  }
  &__links:hover {
    color: rgba(255, 0, 0, 0.64);
    cursor: pointer;
  }
}

.span1 {
  font-size: 1.5rem;
  font-family: "Raleway Light, sans-serift";
  padding-bottom: 2rem;
}

.span2 {
  font-size: 0.9rem;
  font-family: "Avenir LT Std 45 Book";
  padding-bottom: 1rem;
}

.span3 {
  font-size: 1.1rem;
  font-family: "Avenir LT Std 45 Book";
  padding-bottom: 1.5rem;
}

.icons-container {
  display: flex;
}

.icons {
  height: 3rem;
  width: 3rem;
}

